Repository hTuneSys/hexaGenMini, changes with the labels that .github/labeler.yml gives for each.
All labels: module:firmware, module:hardware, module:mechanic, module:docs, module:cli, type:doc, type:ci, type:test, type:infra, default:unclassified

.github/labeler.yml:

# SPDX-FileCopyrightText: 2025 hexaTune LLC
# SPDX-License-Identifier: MIT

# ────────────────────────────────────────────────────────────────────────────────
# MODULE LABELS
# ────────────────────────────────────────────────────────────────────────────────

module:firmware:
  - changed-files:
      - any-glob-to-any-file: ["firmware/**"]

module:hardware:
  - changed-files:
      - any-glob-to-any-file: ["hardware/**"]

module:mechanic:
  - changed-files:
      - any-glob-to-any-file: ["mechanic/**"]

module:docs:
  - changed-files:
      - any-glob-to-any-file: ["docs/**", "examples/**", "**/README.md"]

module:cli:
  - changed-files:
      - any-glob-to-any-file: ["scripts/**"]

# ────────────────────────────────────────────────────────────────────────────────
# TYPE LABELS
# ────────────────────────────────────────────────────────────────────────────────

type:doc:
  - changed-files:
      - any-glob-to-any-file:
          ["docs/**", "LICENSE", "LICENSES/**", "CHANGELOG.md", "**/README.md"]

type:ci:
  - changed-files:
      - any-glob-to-any-file: [".github/**", ".gitignore", "package.json"]

type:test:
  - changed-files:
      - any-glob-to-any-file:
          - "integration-tests/**"
          - "benchmarks/**"
          - "**/tests/**"
          - "**/*_test.rs"
          - "**/test_*.rs"

type:infra:
  - changed-files:
      - any-glob-to-any-file:
          - "firmware/**/Cargo.toml"
          - "Cargo.toml"
          - "Cargo.lock"
          - ".releaserc.yml"
          - "REUSE.toml"

# ────────────────────────────────────────────────────────────────────────────────
# DEFAULT LABEL
# ────────────────────────────────────────────────────────────────────────────────

default:unclassified:
  - changed-files:
      - any-glob-to-any-file: ["*"]

Added multi task system on firmware
  firmware/Cargo.lock
  firmware/Cargo.toml
  firmware/Makefile
  firmware/crates/at/Cargo.toml
  firmware/crates/at/src/lib.rs
  firmware/crates/core/Cargo.toml
  firmware/crates/core/src/lib.rs
  firmware/crates/dds/Cargo.toml
  firmware/crates/dds/src/lib.rs
  firmware/crates/fsm/Cargo.toml
  firmware/crates/fsm/src/lib.rs
  firmware/crates/main/Cargo.toml
  firmware/crates/main/src/main.rs
  firmware/crates/nvc/Cargo.toml
  firmware/crates/nvc/src/lib.rs
  firmware/crates/rgb/Cargo.toml
  firmware/crates/rgb/src/lib.rs
  firmware/crates/usb/Cargo.toml
  firmware/crates/usb/src/lib.rs
  firmware/memory.x
  firmware/src/main.rs
Labels: module:firmware, type:infra

Added Bottom Plate
  .github/workflows/release-pr-protect.yml
  mechanic/Bottom.FCStd
  mechanic/Bottom.FCStd1
Labels: module:mechanic, type:ci

feat(setup): Add first setup firmware
  firmware/.cargo/config.toml
  firmware/Cargo.lock
  firmware/Cargo.toml
  firmware/build.rs
  firmware/crates/at/Cargo.toml
  firmware/crates/at/src/lib.rs
  firmware/crates/core/Cargo.toml
  firmware/crates/core/src/lib.rs
  firmware/crates/dds/Cargo.toml
  firmware/crates/dds/src/lib.rs
  firmware/crates/fsm/Cargo.toml
  firmware/crates/fsm/src/lib.rs
  firmware/crates/main/Cargo.toml
  firmware/crates/main/src/main.rs
  firmware/crates/nvc/Cargo.toml
  firmware/crates/nvc/src/lib.rs
  firmware/crates/rgb/Cargo.toml
  firmware/crates/rgb/src/lib.rs
  firmware/crates/usb/Cargo.toml
  firmware/crates/usb/src/lib.rs
  firmware/memory.x
  firmware/src/main.rs
  firmware/src/usb/mod.rs
Labels: module:firmware, type:infra

test(setup): rules test
  .github/workflows/commitlint.yml
Labels: type:ci

feat(setup): Add first setup firmware (#10)
  firmware/.cargo/config.toml
  firmware/Cargo.lock
  firmware/Cargo.toml
  firmware/build.rs
  firmware/crates/at/Cargo.toml
  firmware/crates/at/src/lib.rs
  firmware/crates/core/Cargo.toml
  firmware/crates/core/src/lib.rs
  firmware/crates/dds/Cargo.toml
  firmware/crates/dds/src/lib.rs
  firmware/crates/fsm/Cargo.toml
  firmware/crates/fsm/src/lib.rs
  firmware/crates/main/Cargo.toml
  firmware/crates/main/src/main.rs
  firmware/crates/nvc/Cargo.toml
  firmware/crates/nvc/src/lib.rs
  firmware/crates/rgb/Cargo.toml
  firmware/crates/rgb/src/lib.rs
  firmware/crates/usb/Cargo.toml
  firmware/crates/usb/src/lib.rs
  firmware/memory.x
  firmware/src/main.rs
  firmware/src/usb/mod.rs
Labels: module:firmware, type:infra

test(setup): rules test
  .github/workflows/commitlint.yml
  README.md
  REUSE.toml
  firmware/Makefile
  firmware/build.rs
  firmware/src/main.rs
  firmware/src/usb/mod.rs
Labels: module:firmware, module:docs, type:doc, type:ci, type:infra, default:unclassified

test(setup): rules test
  .github/workflows/ci.yml
Labels: type:ci

test(setup): rules test (#12)
  .github/workflows/ci.yml
  .github/workflows/commitlint.yml
  README.md
  REUSE.toml
  firmware/Makefile
  firmware/build.rs
  firmware/src/main.rs
  firmware/src/usb/mod.rs
Labels: module:firmware, module:docs, type:doc, type:ci, type:infra, default:unclassified

release/v1.0-pre/test (#13)
  .github/workflows/ci.yml
  .github/workflows/commitlint.yml
  .github/workflows/release-pr-protect.yml
  README.md
  REUSE.toml
  firmware/.cargo/config.toml
  firmware/Cargo.lock
  firmware/Cargo.toml
  firmware/Makefile
  firmware/build.rs
  firmware/memory.x
  firmware/src/main.rs
  firmware/src/usb/mod.rs
  mechanic/Bottom.FCStd
  mechanic/Bottom.FCStd1
Labels: module:firmware, module:mechanic, module:docs, type:doc, type:ci, type:infra, default:unclassified

feat(setup): added basic at command
  firmware/Cargo.lock
  firmware/Cargo.toml
  firmware/src/at/commands.rs
  firmware/src/at/handler.rs
  firmware/src/at/mod.rs
  firmware/src/at/parser.rs
  firmware/src/b64/mod.rs
  firmware/src/error/mod.rs
  firmware/src/main.rs
  firmware/src/sysex/mod.rs
  firmware/src/usb/mod.rs
Labels: module:firmware, type:infra

feat(setup): added basic at command (#19)
  firmware/Cargo.lock
  firmware/Cargo.toml
  firmware/src/at/commands.rs
  firmware/src/at/handler.rs
  firmware/src/at/mod.rs
  firmware/src/at/parser.rs
  firmware/src/b64/mod.rs
  firmware/src/error/mod.rs
  firmware/src/main.rs
  firmware/src/sysex/mod.rs
  firmware/src/usb/mod.rs
Labels: module:firmware, type:infra

feat(setup): setted up pre commit hooks
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  REUSE.toml
  package-lock.json
  package.json
Labels: type:ci, type:infra, default:unclassified

feat(setup): setted up pre commit hooks (#20)
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  REUSE.toml
  package-lock.json
  package.json
Labels: type:ci, type:infra, default:unclassified

feat(setup): setted up pre commit hooks
  .github/workflows/ci.yml
  .github/workflows/commitlint.yml
Labels: type:ci

feat(setup): setted up pre commit hooks (#21)
  .github/workflows/ci.yml
  .github/workflows/commitlint.yml
Labels: type:ci

feat(async): setted up async tasks
  firmware/Makefile
  firmware/src/at/at_task.rs
  firmware/src/at/command.rs
  firmware/src/at/commands.rs
  firmware/src/at/dispatcher.rs
  firmware/src/at/handler.rs
  firmware/src/at/handlers/mod.rs
  firmware/src/at/handlers/setrgb_handler.rs
  firmware/src/at/handlers/version_handler.rs
  firmware/src/at/mod.rs
  firmware/src/at/parser.rs
  firmware/src/b64/mod.rs
  firmware/src/channel/channel_manager.rs
  firmware/src/channel/channel_type.rs
  firmware/src/channel/message_type.rs
  firmware/src/channel/mod.rs
  firmware/src/channel/module_type.rs
  firmware/src/error/mod.rs
  firmware/src/hexa_config/mod.rs
  firmware/src/main.rs
  firmware/src/rgb/led.rs
  firmware/src/rgb/mod.rs
  firmware/src/rgb/rgb_task.rs
  firmware/src/sysex/mod.rs
  firmware/src/usb/usb_midi.rs
  firmware/src/usb/usb_task.rs
  hardware/hexaGenMini-v1/hexaGenMini-v1-backups/hexaGenMini-v1-2025-09-12_001942.zip
  hardware/hexaGenMini-v1/hexaGenMini-v1-backups/hexaGenMini-v1-2025-10-09_100137.zip
  hardware/hexaGenMini-v1/hexaGenMini-v1.kicad_prl
Labels: module:firmware, module:hardware

feat(async): setted up async tasks (#23)
  firmware/Makefile
  firmware/src/at/at_task.rs
  firmware/src/at/command.rs
  firmware/src/at/commands.rs
  firmware/src/at/dispatcher.rs
  firmware/src/at/handler.rs
  firmware/src/at/handlers/mod.rs
  firmware/src/at/handlers/setrgb_handler.rs
  firmware/src/at/handlers/version_handler.rs
  firmware/src/at/mod.rs
  firmware/src/at/parser.rs
  firmware/src/b64/mod.rs
  firmware/src/channel/channel_manager.rs
  firmware/src/channel/channel_type.rs
  firmware/src/channel/message_type.rs
  firmware/src/channel/mod.rs
  firmware/src/channel/module_type.rs
  firmware/src/error/mod.rs
  firmware/src/hexa_config/mod.rs
  firmware/src/main.rs
  firmware/src/rgb/led.rs
  firmware/src/rgb/mod.rs
  firmware/src/rgb/rgb_task.rs
  firmware/src/sysex/mod.rs
  firmware/src/usb/usb_midi.rs
  firmware/src/usb/usb_task.rs
  hardware/hexaGenMini-v1/hexaGenMini-v1-backups/hexaGenMini-v1-2025-09-12_001942.zip
  hardware/hexaGenMini-v1/hexaGenMini-v1-backups/hexaGenMini-v1-2025-10-09_100137.zip
  hardware/hexaGenMini-v1/hexaGenMini-v1.kicad_prl
Labels: module:firmware, module:hardware

feat(firmware): added basic firmware update
  firmware/Cargo.lock
  firmware/Cargo.toml
  firmware/src/at/at_task.rs
  firmware/src/at/dispatcher.rs
  firmware/src/at/handler.rs
  firmware/src/at/handlers/fwupdate_handler.rs
  firmware/src/at/handlers/mod.rs
  firmware/src/at/handlers/reset_handler.rs
  firmware/src/at/handlers/setrgb_handler.rs
  firmware/src/at/handlers/version_handler.rs
  firmware/src/b64/mod.rs
  firmware/src/error/mod.rs
  firmware/src/main.rs
  firmware/src/usb/usb_task.rs
Labels: module:firmware, type:infra

feat(firmware): added basic firmware update (#24)
  firmware/Cargo.lock
  firmware/Cargo.toml
  firmware/src/at/at_task.rs
  firmware/src/at/dispatcher.rs
  firmware/src/at/handler.rs
  firmware/src/at/handlers/fwupdate_handler.rs
  firmware/src/at/handlers/mod.rs
  firmware/src/at/handlers/reset_handler.rs
  firmware/src/at/handlers/setrgb_handler.rs
  firmware/src/at/handlers/version_handler.rs
  firmware/src/b64/mod.rs
  firmware/src/error/mod.rs
  firmware/src/main.rs
  firmware/src/usb/usb_task.rs
Labels: module:firmware, type:infra

feat(com): passed first communication
  REUSE.toml
  firmware/src/at/at_task.rs
  firmware/src/at/dispatcher.rs
  firmware/src/at/handlers/fwupdate_handler.rs
  firmware/src/error/mod.rs
  firmware/src/main.rs
  firmware/src/rgb/led.rs
  firmware/src/rgb/rgb_task.rs
  firmware/src/usb/usb_task.rs
  pnpm-lock.yaml
Labels: module:firmware, type:infra, default:unclassified

feat(com): passed first communication (#25)
  REUSE.toml
  firmware/src/at/at_task.rs
  firmware/src/at/dispatcher.rs
  firmware/src/at/handlers/fwupdate_handler.rs
  firmware/src/error/mod.rs
  firmware/src/main.rs
  firmware/src/rgb/led.rs
  firmware/src/rgb/rgb_task.rs
  firmware/src/usb/usb_task.rs
  pnpm-lock.yaml
Labels: module:firmware, type:infra, default:unclassified

feat(freq): added basic freq handler
  firmware/Makefile
  firmware/src/at/at_task.rs
  firmware/src/at/command.rs
  firmware/src/at/dispatcher.rs
  firmware/src/at/handler.rs
  firmware/src/at/handlers/freq_handler.rs
  firmware/src/at/handlers/mod.rs
  firmware/src/b64/mod.rs
  firmware/src/channel/message_type.rs
  firmware/src/dds/ad985x.rs
  firmware/src/dds/dds_task.rs
  firmware/src/dds/mod.rs
  firmware/src/error/mod.rs
  firmware/src/hexa_config/mod.rs
  firmware/src/main.rs
Labels: module:firmware

feat(freq): added basic freq handler (#27)
  firmware/Makefile
  firmware/src/at/at_task.rs
  firmware/src/at/command.rs
  firmware/src/at/dispatcher.rs
  firmware/src/at/handler.rs
  firmware/src/at/handlers/freq_handler.rs
  firmware/src/at/handlers/mod.rs
  firmware/src/b64/mod.rs
  firmware/src/channel/message_type.rs
  firmware/src/dds/ad985x.rs
  firmware/src/dds/dds_task.rs
  firmware/src/dds/mod.rs
  firmware/src/error/mod.rs
  firmware/src/hexa_config/mod.rs
  firmware/src/main.rs
Labels: module:firmware

feat(core): added multi core
  firmware/Cargo.toml
  firmware/src/at/handlers/version_handler.rs
  firmware/src/dds/dds_task.rs
  firmware/src/error/mod.rs
  firmware/src/main.rs
  firmware/src/usb/usb_task.rs
Labels: module:firmware, type:infra

feat(core): added multi core (#28)
  firmware/Cargo.toml
  firmware/src/at/handlers/version_handler.rs
  firmware/src/dds/dds_task.rs
  firmware/src/error/mod.rs
  firmware/src/main.rs
  firmware/src/usb/usb_task.rs
Labels: module:firmware, type:infra

feat(core): at command is made by id based
  firmware/src/at/at_task.rs
  firmware/src/at/command.rs
  firmware/src/at/dispatcher.rs
  firmware/src/at/handler.rs
  firmware/src/at/handlers/freq_handler.rs
  firmware/src/at/handlers/fwupdate_handler.rs
  firmware/src/at/handlers/reset_handler.rs
  firmware/src/at/handlers/setrgb_handler.rs
  firmware/src/at/handlers/version_handler.rs
  firmware/src/channel/message_type.rs
  firmware/src/dds/dds_task.rs
  firmware/src/hexa_config/mod.rs
  firmware/src/main.rs
  firmware/src/rgb/rgb_task.rs
  firmware/src/usb/usb_task.rs
Labels: module:firmware

feat(core): at command is made by id based (#29)
  firmware/src/at/at_task.rs
  firmware/src/at/command.rs
  firmware/src/at/dispatcher.rs
  firmware/src/at/handler.rs
  firmware/src/at/handlers/freq_handler.rs
  firmware/src/at/handlers/fwupdate_handler.rs
  firmware/src/at/handlers/reset_handler.rs
  firmware/src/at/handlers/setrgb_handler.rs
  firmware/src/at/handlers/version_handler.rs
  firmware/src/channel/message_type.rs
  firmware/src/dds/dds_task.rs
  firmware/src/hexa_config/mod.rs
  firmware/src/main.rs
  firmware/src/rgb/rgb_task.rs
  firmware/src/usb/usb_task.rs
Labels: module:firmware

docs(basic): added basic docs Added simple documantation for version v1.0.0
  README.md
  docs/ARCHITECTURE.md
  docs/GETTING_STARTED.md
  docs/PROJECT_STRUCTURE.md
Labels: module:docs, type:doc, default:unclassified

docs(basic): added basic docs Added simple documantation for version v1.0.0 (#30)
  README.md
  docs/ARCHITECTURE.md
  docs/GETTING_STARTED.md
  docs/PROJECT_STRUCTURE.md
Labels: module:docs, type:doc, default:unclassified

feat(multicore): fixed multicore
  firmware/src/at/at_task.rs
  firmware/src/at/dispatcher.rs
  firmware/src/at/handler.rs
  firmware/src/at/handlers/freq_handler.rs
  firmware/src/at/handlers/fwupdate_handler.rs
  firmware/src/at/handlers/reset_handler.rs
  firmware/src/at/handlers/setrgb_handler.rs
  firmware/src/at/handlers/version_handler.rs
  firmware/src/channel/channel_manager.rs
  firmware/src/channel/channel_type.rs
  firmware/src/channel/message_type.rs
  firmware/src/channel/mod.rs
  firmware/src/channel/module_type.rs
  firmware/src/dds/ad985x.rs
  firmware/src/dds/dds_task.rs
  firmware/src/main_multicore.rs
  firmware/src/rgb/rgb_task.rs
  firmware/src/usb/usb_task.rs
Labels: module:firmware

feat(multicore): fixed multicore
  firmware/src/at/at_task.rs
  firmware/src/at/command.rs
  firmware/src/at/dispatcher.rs
  firmware/src/at/handler.rs
  firmware/src/at/handlers/mod.rs
  firmware/src/at/handlers/operation_handler.rs
  firmware/src/channel/message_type.rs
  firmware/src/dds/dds_task.rs
  firmware/src/dds/dds_type.rs
  firmware/src/dds/mod.rs
  firmware/src/error/mod.rs
  firmware/src/main.rs
Labels: module:firmware

release: release/v1.0.0 (#32)
  firmware/src/at/at_task.rs
  firmware/src/at/command.rs
  firmware/src/at/dispatcher.rs
  firmware/src/at/handler.rs
  firmware/src/at/handlers/freq_handler.rs
  firmware/src/at/handlers/fwupdate_handler.rs
  firmware/src/at/handlers/mod.rs
  firmware/src/at/handlers/operation_handler.rs
  firmware/src/at/handlers/reset_handler.rs
  firmware/src/at/handlers/setrgb_handler.rs
  firmware/src/at/handlers/version_handler.rs
  firmware/src/channel/channel_manager.rs
  firmware/src/channel/channel_type.rs
  firmware/src/channel/message_type.rs
  firmware/src/channel/mod.rs
  firmware/src/channel/module_type.rs
  firmware/src/dds/ad985x.rs
  firmware/src/dds/dds_task.rs
  firmware/src/dds/dds_type.rs
  firmware/src/dds/mod.rs
  firmware/src/error/mod.rs
  firmware/src/main_multicore.rs
  firmware/src/rgb/rgb_task.rs
  firmware/src/usb/usb_task.rs
Labels: module:firmware

refactor(commitlint): add commitlint config
  .github/workflows/commitlint.yml
Labels: type:ci

init(project): auto project adder
  .github/workflows/auto-add-project.yml
  .github/workflows/commitlint.yml
Labels: type:ci

fix(hotfix): basic fix
  hardware/hexaGenMini-v1/PCB_Library.pretty/PinHeader_1x03_P2.54mm_Vertical.kicad_mod
  hardware/hexaGenMini-v1/PCB_Library.pretty/USB_C_Receptacle_HRO_TYPE-C-31-M-12.kicad_mod
  hardware/hexaGenMini-v1/fp-info-cache
  hardware/hexaGenMini-v1/hexaGenMini-v1-1.jpg
  hardware/hexaGenMini-v1/hexaGenMini-v1-2.jpg
  hardware/hexaGenMini-v1/hexaGenMini-v1-backups/hexaGenMini-v1-2025-09-12_194047.zip
  hardware/hexaGenMini-v1/hexaGenMini-v1-backups/hexaGenMini-v1-2025-09-12_195155.zip
  hardware/hexaGenMini-v1/hexaGenMini-v1-backups/hexaGenMini-v1-2025-09-12_200232.zip
  hardware/hexaGenMini-v1/hexaGenMini-v1-backups/hexaGenMini-v1-2025-09-13_180616.zip
  hardware/hexaGenMini-v1/hexaGenMini-v1-backups/hexaGenMini-v1-2025-09-13_182329.zip
  hardware/hexaGenMini-v1/hexaGenMini-v1-backups/hexaGenMini-v1-2025-09-13_184321.zip
  hardware/hexaGenMini-v1/hexaGenMini-v1-backups/hexaGenMini-v1-2026-03-02_180009.zip
  hardware/hexaGenMini-v1/hexaGenMini-v1-backups/hexaGenMini-v1-2026-03-02_180818.zip
  hardware/hexaGenMini-v1/hexaGenMini-v1-backups/hexaGenMini-v1-2026-03-02_182047.zip
  hardware/hexaGenMini-v1/hexaGenMini-v1-backups/hexaGenMini-v1-2026-03-02_183513.zip
  hardware/hexaGenMini-v1/hexaGenMini-v1-backups/hexaGenMini-v1-2026-03-02_184447.zip
  hardware/hexaGenMini-v1/hexaGenMini-v1.kicad_pcb
  hardware/hexaGenMini-v1/hexaGenMini-v1.kicad_prl
  mechanic/Bottom-Body.stl
  mechanic/Bottom.20260301-215146.FCBak
  mechanic/Bottom.FCStd
  mechanic/Bottom.FCStd1
  mechanic/PcbBoard.20260301-215146.FCBak
  mechanic/PcbBoard.FCStd
  mechanic/PcbBoard.FCStd1
  mechanic/Top-Body.stl
  mechanic/Top.20260302-060034.FCBak
  mechanic/Top.FCStd
Labels: module:hardware, module:mechanic

feat(firmware): migrate AT/SysEx/USB-MIDI to hexaTuneProto shared library
  firmware/Cargo.lock
  firmware/Cargo.toml
  firmware/src/at/at_task.rs
  firmware/src/at/command.rs
  firmware/src/at/dispatcher.rs
  firmware/src/at/handler.rs
  firmware/src/at/handlers/freq_handler.rs
  firmware/src/at/handlers/fwupdate_handler.rs
  firmware/src/at/handlers/mod.rs
  firmware/src/at/handlers/operation_handler.rs
  firmware/src/at/handlers/reset_handler.rs
  firmware/src/at/handlers/setrgb_handler.rs
  firmware/src/at/handlers/version_handler.rs
  firmware/src/at/mod.rs
  firmware/src/channel/message_type.rs
  firmware/src/dds/ad985x.rs
  firmware/src/dds/dds_task.rs
  firmware/src/dds/dds_type.rs
  firmware/src/error/mod.rs
  firmware/src/main.rs
  firmware/src/rgb/rgb_task.rs
  firmware/src/sysex/mod.rs
  firmware/src/usb/usb_task.rs
Labels: module:firmware, type:infra

feat(firmware): migrate AT/SysEx/USB-MIDI to hexaTuneProto shared library (#39)
  firmware/Cargo.lock
  firmware/Cargo.toml
  firmware/src/at/at_task.rs
  firmware/src/at/command.rs
  firmware/src/at/dispatcher.rs
  firmware/src/at/handler.rs
  firmware/src/at/handlers/freq_handler.rs
  firmware/src/at/handlers/fwupdate_handler.rs
  firmware/src/at/handlers/mod.rs
  firmware/src/at/handlers/operation_handler.rs
  firmware/src/at/handlers/reset_handler.rs
  firmware/src/at/handlers/setrgb_handler.rs
  firmware/src/at/handlers/version_handler.rs
  firmware/src/at/mod.rs
  firmware/src/channel/message_type.rs
  firmware/src/dds/ad985x.rs
  firmware/src/dds/dds_task.rs
  firmware/src/dds/dds_type.rs
  firmware/src/error/mod.rs
  firmware/src/main.rs
  firmware/src/rgb/rgb_task.rs
  firmware/src/sysex/mod.rs
  firmware/src/usb/usb_task.rs
Labels: module:firmware, type:infra

chore(firmware): switch hexa-tune-proto deps from local path to crates.io v0.1.1
  firmware/Cargo.lock
  firmware/Cargo.toml
Labels: module:firmware, type:infra

fix(hotfix): basic fix
  firmware/src/main.rs
  firmware/src/main_multicore.rs
  firmware/src/rgb/rgb_task.rs
Labels: module:firmware

feat(rgb): implement RGB LED state machine with blink patterns
  firmware/src/channel/message_type.rs
  firmware/src/dds/dds_task.rs
  firmware/src/rgb/rgb_task.rs
Labels: module:firmware
